<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.baseLayout "${dogPark.name}">
					<!-- ===== Content ===== -->
					<div class="col-md-8">
						<h3><i class="glyphicon glyphicon-tree-deciduous"></i> ${dogPark.name}</h3>
						<hr>
						<iframe 
							width="450" 
							height="350" 
							frameborder="0" 
							src="https://www.google.com/maps/embed/v1/place?q=${dogPark.latitude}%2C${dogPark.longitude}
								&key=AIzaSyBsBgvJq2xlk1o3zZxW9rI074kaq1nZl7I&zoom=15">
						</iframe>
					</div><!-- col-md-8 -->
</@layout.baseLayout>