<#import "../layout/defaultLayout.ftl.html" as layout> 
<#assign active_tab = "frontpage" in layout>
<@layout.baseLayout "Koirapuisto-miitit">
					
					<div class="col-md-8">
								<h2>Koirapuisto-miitit</h2>
								<hr>
								<p>
									Tällä sivustolla voit ilmoittaa meneväsi koirapuistoon, jolloin muiden on helppo nähdä, 
									milloin omalle koiralle löytyisi sopivan kokoista leikkiseuraa!
								</p>
								<p>Klikkaa "Koirapuistot" ja merkkaa!</p>
							
					</div><!-- col-md-8 -->
</@layout.baseLayout>