<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.baseLayout active_tab = "cancel">    

<div class="col-md-8" id="cancel-signup">
	<h3><i class="fa fa-undo"></i> Peruuta ilmoittautuminen</h3>
	<hr>
	<p>
		Koirapuistoon ilmoittautumisesi voit perua peruutuskoodilla, 
		jonka sait ilmoittautumisen yhteydessä.
	</p>
	<form class="form-inline" role="form" action="/cancel" method="POST">
		<div class="form-group">
			<label class="sr-only" for="cancellation-code">Syötä peruutuskoodi</label>
			<input type="text" class="form-control" id="cancellation-code" placeholder="Peruutuskoodi">
			<button type="submit" class="btn btn-warning">Lähetä</button>
		</div>
	</form>
</div>

</@layout.baseLayout>						



						